{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}

  {#{{ dump(name) }} {{ dump(customer) }} #}


    <div class="container-fluid">

        <div class="row justify-content-center" style="margin-bottom: 30px">
            <div class="col-md-8 text-center">
                <h1>Enregistrement d'un nouveau client</h1>

                {% if errorName != null %}
                    <div class=" alert alert-danger">{{ errorName }}</div>
                {% endif %}
            </div>
        </div>


        {{ form_start(form, {'attr' :{'novalidate':'novalidate'}}) }}
        {#{{ form_start(form) }}#}

        <div class="row justify-content-center">
            <div class="col-md-4">
                {# Affichage des erreurs pour ce champ précis. #}
                {% if form_errors(form.name ) != null %}
                    <div class="col-12 alert alert-danger">{{ form_errors(form.name) }}</div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {# Affichage des erreurs pour ce champ précis. #}
                {% if form_errors(form.mail) != null %}
                    <div class="col-sm-12 alert alert-danger">{{ form_errors(form.mail) }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-4" >
                <div class="col-sm-12 control-label">
                    {# Génération du label. #}
                    <bold></bold>{{ form_label(form.name, "Nom du client :") }}
                </div>
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="col-sm-12 control-label">
                    {# Génération du label. #}
                    {{ form_label(form.mail, "Mail :") }}
                </div>
                <div class="col-sm-12 ">
                    {# Génération de l'input. #}
                    {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8"><h3 >Adresse :</h3></div>
        </div>



        <div class="row justify-content-center">
            <div class="col-md-8 fieldAddress">
                <div class="row">
                    <div class="form-group col-md-6">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {% if form_errors(form.address.street) != null %}
                            <div class="col-sm-12 alert alert-danger">{{ form_errors(form.address.street) }}</div>
                        {% endif %}
                        <div class="col-sm-12 control-label">
                            {# Génération du label. #}
                            {{ form_label(form.address.street, "Rue :") }}
                        </div>
                        <div class="col-sm-12 ">
                            {# Génération de l'input. #}
                            {{ form_widget(form.address.street, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {% if form_errors(form.address.town) != null %}
                            <div class="col-sm-12 alert alert-danger">{{ form_errors(form.address.town) }}</div>
                        {% endif %}
                        <div class="col-sm-12 control-label">
                            {# Génération du label. #}
                            {{ form_label(form.address.town, "Ville :") }}
                        </div>
                        <div class="col-sm-12 ">
                            {# Génération de l'input. #}
                            {{ form_widget(form.address.town, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>


                    <div class="col-md-4">
                        {% if form_errors(form.address.postalCode) != null %}
                            <div class="col-sm-12 alert alert-danger">{{ form_errors(form.address.postalCode) }}</div>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        {% if form_errors(form.address.country) != null %}
                            <div class="col-sm-12 alert alert-danger">{{ form_errors(form.address.country) }}</div>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        {% if form_errors(form.address.building) != null %}
                            <div class="col-sm-12 alert alert-danger">{{ form_errors(form.address.building) }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-4">
                        <div class="col-sm-12 control-label">
                            {# Génération du label. #}
                            {{ form_label(form.address.postalCode, "Code Postal :") }}
                        </div>
                        <div class="col-sm-12 ">
                            {# Génération de l'input. #}
                            {{ form_widget(form.address.postalCode, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="col-sm-12 control-label">
                            {# Génération du label. #}
                            {{ form_label(form.address.country, "Pays :") }}
                        </div>
                        <div class="col-sm-12 ">
                            {# Génération de l'input. #}
                            {{ form_widget(form.address.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group col-md-4 " >
                        <div class="col-sm-12 control-label">
                            {# Génération du label. #}
                            {{ form_label(form.address.building, "Bâtiment :") }}
                        </div>
                        <div class="col-sm-12 ">
                            {# Génération de l'input. #}
                            {{ form_widget(form.address.building, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8"><h3 >Téléphone(s) :</h3></div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-center" >
                    <div class="phones form-group col-sm-12" data-prototype="{{ form_widget(form.phones.vars.prototype)|e ('html_attr') }}">
                        {% if form_errors(form.phones) != null %}
                            <div class="col-sm-12 alert alert-danger ">{{ form_errors(form.phones) }}</div>
                        {% endif %}

                        {% for phone in form.phones %}
                            <div id="{{ phone.vars.id }}" class="phoneRow row justify-content-center" >
                                {#{{ form_row(phone) }}#}
                                {% if form_errors(phone.type) != null %}
                                    <div class="col-sm-12 alert alert-danger">{{ form_errors(phone.type) }}</div>
                                {% endif %}
                                <div class="col-sm-12 control-label">

                                    {{ form_label(phone.type) }}
                                </div>
                                <div class="col-sm-12">

                                    {{ form_widget(phone.type, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                {% if form_errors(phone.number) != null %}
                                    <div class="col-sm-12 alert alert-danger">{{ form_errors(phone.number) }}</div>
                                {% endif %}
                                <div class="col-sm-12 control-label">

                                    {{ form_label(phone.number) }}
                                </div>
                                <div class="col-sm-12">

                                    {{ form_widget(phone.number, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class=" btnSupprimer text-center col-md-8 align-self-center" onclick="deletePhone({{ phone.vars.id }})" style="margin-top: 10px">Supprimer ce numéro de téléphone</div>
                            </div>

                        {% else %}
                            {% do form.phones.setRendered %}
                        {% endfor %}
                    </div>


                    <div class="add_phone_link btn-warning col-md-8 " style="margin: 20px 0px 20px 0px" >Ajouter un téléphone +</div>


                </div>

            </div>

            <div class="col-sm-8" style="border-top: 1px solid deepskyblue ; padding-top:30px " >
                {{ form_widget(form.submit, {'attr': {'class': ' validate btnValidate col-md-5 '}} ) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    


{% endblock %}

{% block script %}
    {#permet l'ajout dynamique des formulaires "phone" dans la vue#}
    <script src="{{ asset('js/customer/form.js') }}"></script>
{% endblock %}

