{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h1>Clients</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4" >
                <div class="row justify-content-end" style=" margin-right: 10px">
                    <a class="btnNewCustomer btn-info" href={{ path("customer.form") }}>
                        <i class="fas fa-plus"></i>
                        <bold>Nouveau client</bold>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="containerInfoCustomer container-fluid">
        <div class="rowCustemerList row justify-content-center">
            <div class="listCustomer col-lg-10 col-md-5 col-sm-8 col-5" >
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col"><span>ID</span></th>
                        <th scope="col"><span>Nom</span></th>
                        <th scope="col"><span>Mail</span></th>
                        <th scope="col"><span>Téléphone</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  if customers != null %}
                    {% for customer in customers%}
                        <tr id ="{{customer.id }}" class="trSelect" onclick="displayCustomerInfo({{customer.id }})">
                            <th scope="row" class="id"><span>{{customer.id }}</span></th>
                            <td class="name">
                                <span>{{ customer.name }}</span>
                            </td>
                            <td class="mail">
                                {%  if customer.mail == null %}
                                    <span>Vous n'avez pas mis de mail</span>
                                {% else %}
                                    <span>{{ customer.mail }}</span>
                                {% endif %}
                            </td>
                            <td class="tel"><span>{{ customer.phones[0].getNumber }}</span></td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {%  if customers != null %}
            {% for customer in customers%}
            <div id="info{{customer.id }}" class="infoCustomer col-lg-4 col-md col-7 " style="display: none" >
                <div class="col-sm">
                    <div class="btnCustomer row justify-content-center">
                        <div class="col-md-6 ">
                            <div class="row justify-content-center">
                                <a class="btnEditer " href="{{ path("customer.form", {id: customer.id}) }}">Editer</a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row justify-content-center">
                                <div class="btnSupprimer" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ path("customer.delete", {id: customer.id}) }}">Supprimer</div>
                            </div>
                        </div>
                    </div>
                    <div class="rowInfoCustomer row justify-content-center">
                        <div class="col text-center">
                            <h5>Nom du client:</h5>
                            <span>{{customer.name}}</span><br>
                            <br>

                            <h5>Mail:</h5>
                            <span>{% if customer.mail == null %} ...Non renseigné... {% else %} {{customer.mail }} {% endif %} </span><br>
                            <br>

                            <h5>Adresse:</h5>

                            <span>
                                {{customer.address.getStreet }}
                            </span>
                            <br>
                            <span>
                                {{customer.address.getTown }}
                            </span>
                            <br>
                            <span>
                                {{customer.address.getPostalCode }}
                            </span>
                            <br>
                            <span>
                                <span class="fontArtBold">Bâtiment:</span><br>
                                {% if customer.address.getBuilding == null %} ... {% else %} {{customer.address.getBuilding }} {% endif %}
                            </span><br>
                            <span>
                                <span class="fontArtBold">Pays:</span><br>
                                {% if customer.address.getCountry == null %} ... {% else %} {{customer.address.getCountry }} {% endif %}
                            </span><br>


                            <br>
                            <h5>Téléphone(s):</h5>
                            {%  if customer.phones == null %}
                                <span>Vous n'avez donner de numéros de Téléphone, ce n'est pas normal!!!</span>
                                <span>Demander a Steven de venir réparer le Logiciel!!!</span>
                            {% else %}
                                {% for phone in customer.phones %}
                                    <span><bold>{{ phone.getType }}:</bold>  {{ phone.getNumber }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {%  endif %}
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span style="color: black">Êtes-vous sûr de vouloir supprimer ce client?</span>
                </div>

                <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary fontArt col-4" data-dismiss="modal">Fermer</button>
                        <a class="btnSupprimer" href="#">Supprimer</a>
                </div>
            </div>
        </div>
    </div>








{% endblock %}

{% block script %}
    <script src="{{ asset('js/customer/index.js') }}"></script>
{% endblock %}