{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h1>Clients</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4" >
                <div class="row justify-content-end" style=" margin-right: 10px">
                    <a class="btnNewCustomer btn-info" href={{ path("customer.form") }}>Nouveau client +</a>
                </div>
            </div>
        </div>
    </div>

   {#{{ dump(customers) }}#}
    <div class="containerInfoCustomer container-fluid">
        <div class="rowCustemerList row">
            <div class="listCustomer col-sm">
                <div class="headCustomer row ">
                    <div class="col-sm-3">
                      <span>Nom du client:</span>
                    </div>
                    <div class="col-sm-5">
                       <span>Mail:</span>
                    </div>
                    <div class="col-sm-4">
                       <span>Téléphone:</span>
                    </div>
                </div>

                {%  if customers != null %}
                {% for customer in customers%}
                    <div id ="{{customer.id }}" class="customer row btn-info" onclick="displayCustomerInfo({{customer.id }})">
                        <div class="col-sm-3">
                           <span>{{ customer.name }}</span>
                        </div>
                        <div class="col-sm-5">
                            {%  if customer.mail == null %}
                             <span>Vous n'avez pas mis de mail</span>
                            {% else %}
                               <span>{{ customer.mail }}</span>
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <span>{{ customer.phones[0].getType }}: {{ customer.phones[0].getNumber }}</span>
                        </div>
                    </div>

                {% endfor %}
                {% endif %}
            </div>

            {%  if customers != null %}
            {% for customer in customers%}
            <div id="info{{customer.id }}" class="infoCustomer col-sm " style="display: none" >
                <div class="col-sm">
                    <div class="btnCustomer row justify-content-center">
                        <div class="col-md-6 ">
                            <div class="row justify-content-center">
                                <a class="btnEditer " href="{{ path("customer.form", {id: customer.id}) }}">Editer</a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row justify-content-center">
                                <a class="btnSupprimer" href="{{ path("customer.delete", {id: customer.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                    <div class="rowInfoCustomer row justify-content-center">
                        <div class="col text-center">
                            <h5>Nom du client:</h5>
                            <span>{{customer.name}}</span><br>
                            <br>
                            <h5>Mail:</h5>
                            <span>{% if customer.mail == null %} ...Non renseigner... {% else %} {{customer.mail }} {% endif %} </span><br>
                            <br>
                            <h5>Adresse:</h5>
                            <span> <bold>Rue:</bold>  {{customer.address.getStreet }}</span><br>
                            <span><bold>Ville:</bold> {{customer.address.getTown }}</span><br>
                            <span><bold>Code Postal:</bold> {{customer.address.getPostalCode }}</span><br>
                            <span><bold>Pays:</bold> {% if customer.address.getCountry == null %} ... {% else %} {{customer.address.getCountry }} {% endif %} </span><br>
                            <span><bold>Bâtiment:</bold>{% if customer.address.getBuilding == null %} ... {% else %} {{customer.address.getBuilding }} {% endif %} </span><br>
                            <br>
                            <h5>Téléphone(s):</h5>
                            {%  if customer.phones == null %}
                                <span>Vous n'avez donner de numéros de Téléphone, ce n'est pas normal!!!</span>
                                <span>Demander a Steven de venir réparer le Logiciel!!!</span>
                            {% else %}
                                {% for phone in customer.phones %}
                                    <span><bold>{{ phone.getType }}:</bold>  {{ phone.getNumber }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {%  endif %}
        </div>

    </div>

    <script src="{{ asset('js/customer/index.js') }}"></script>
{% endblock %}

