
    <nav>
        <ul>
            <li class="navLinkDisconnect ">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span class="ConnectionName">{{ app.user.username }} : </span><br>
                    <a class="nav-link fontArt" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
            </li>
            {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a href="{{ path("customer.index") }}">
                    <span><i class="far fa-address-card "></i></span>
                    <span class="fontArt">CLIENTS</span>
                </a>
            </li>
            <li>
                <a href="{{ path("quote.index") }}">
                    <span><i class="far fa-file-alt "></i></span>
                    <span class="fontArt">DEVIS</span>
                </a>
            </li>
            <li>
                <a href="{{ path("invoice.index") }}">
                    <span><i class="fa fa-file-invoice-dollar "></i></span>
                    <span class="fontArt">FACTURES</span>
                </a>
            </li>
            <li>
                <a href="{{ path("setting.index") }}">
                    <span><i class="fa fa-ellipsis-v "></i></span>
                    <span class="fontArt">PARAMÊTRES</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

