<!--suppress ALL -->
<div id="{{ product.vars.id }}" class="productRow row animated fadeIn  " >

        <div class="col-lg-12">
            <div class="row justify-content-around">
                {% if form_errors(product.name) != null %}
                    <div class="col-lg-3 alerte ">{{ form_errors(product.name) }}</div>
                {% endif %}
                {% if form_errors(product.quantity) != null %}
                    <div class="col-lg-3 alerte ">{{ form_errors(product.quantity) }}</div>
                {% endif %}
                {% if form_errors(product.priceOutTaxe) != null %}
                    <div class="col-lg-3 alerte ">{{ form_errors(product.priceOutTaxe) }}</div>
                {% endif %}
                {% if form_errors(product.percentageDiscount) != null %}
                    <div class="col-lg-3 alerte ">{{ form_errors(product.percentageDiscount) }}</div>
                {% endif %}
                {% if form_errors(product.tva ) != null %}
                        <div class="col alerte">{{ form_errors(product.tva) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg">
            {{ form_widget(product.name, {'attr': {'placeholder': 'Nom du produit :'}}) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(product.quantity, {'attr': {'placeholder': 'Quantité :'}}) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(product.priceOutTaxe, {'attr': {'placeholder': 'Prix Unitaire HT :'}}) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(product.percentageDiscount, {'attr': {'placeholder': 'Remise(%) :','class': 'percentageDiscountForm'}}) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(product.tva, {'attr': {'class': 'tvaForm'}}) }}
        </div>
        <div class="col-auto">
            <span style="color: black">TTC: </span><span id="{{ product.vars.id }}_ttc" style="color: black"> </span>
        </div>
        <div class=" btnSupprimer" onclick="deleteProduct({{ product.vars.id}},'#{{ product.vars.id }}_ttc',priceTotal)" style="margin-right: 15px">
            <i class="far fa-trash-alt"></i>
        </div>
        {% set tva =  product.tva.vars.choices%}

</div>


<script>
    //création de la variable grace à window
    window['{{ product.vars.id }}_quantity'] = $('#{{ product.vars.id }}_quantity').val().replace(',','.');
    window['{{ product.vars.id }}_priceOutTaxe'] = $('#{{ product.vars.id }}_priceOutTaxe').val().replace(',','.');
    window['{{ product.vars.id }}_percentageDiscount'] = $('#{{ product.vars.id }}_percentageDiscount').val().replace(',','.');
    window['{{ product.vars.id }}_tva'] = $('#{{ product.vars.id }}_tva').val();
    tva = {{ tva|json_encode()|raw }};


    Object.keys(tva).forEach(function(element){
        if(tva[element]['value'] === $('#{{ product.vars.id }}_tva').val()){
            window['{{ product.vars.id }}_tva'] = tva[element]['data']['tva']['percentage'];
        }
    });
    var result = count(
        $('#{{ product.vars.id }}_quantity').val().replace(',','.'),
        $('#{{ product.vars.id }}_priceOutTaxe').val().replace(',','.'),
        $('#{{ product.vars.id }}_percentageDiscount').val().replace(',','.'),
        window['{{ product.vars.id }}_tva']);

    refresh(result,'#{{ product.vars.id }}_ttc',priceTotal);

    //listen _quantity field
    $('#{{ product.vars.id }}_quantity').on('keyup', function() {
        actionListener('{{ product.vars.id }}',"_quantity");
    });
    //listen _priceOutTaxe field
    $('#{{ product.vars.id }}_priceOutTaxe').on('keyup', function() {
        actionListener('{{ product.vars.id }}',"_priceOutTaxe");
    });
    //listen percentageDiscount field
    $('#{{ product.vars.id }}_percentageDiscount').on('change', function() {
        actionListener('{{ product.vars.id }}',"_percentageDiscount");
    });


    $('#{{ product.vars.id }}_tva').on('change', function() {
        idTva = $('#{{ product.vars.id }}_tva').val();
        window['{{ product.vars.id }}_tva']= 0;

        Object.keys(tva).forEach(function(element){
            if (tva[element]['value'] === idTva) {
                window['{{ product.vars.id }}_tva'] = tva[element]['data']['tva']['percentage'];
            }
        });

        var result = count(window['{{ product.vars.id }}_quantity'],window['{{ product.vars.id }}_priceOutTaxe'],window['{{ product.vars.id }}_percentageDiscount'],window['{{ product.vars.id }}_tva']);
        refresh(result,'#{{ product.vars.id }}_ttc',priceTotal);
    });



</script>

