{% extends "base.html.twig" %}


{% block body %}
    {#init variable#}
    <script src="{{ asset('js/invoiceQuote/form1.js') }}"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h1>Devis</h1>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-lg-11"  >

                {{ form_start(form, {'attr' :{'novalidate':'novalidate'}}) }}
                {% if error is defined and error != null  %}
                    <div class="row alerte">{{ error }}</div>
                {% endif %}
                <div class="form-group" >
                    {% if form_errors(form.numberQuote ) != null %}
                        <div class="col alerte">{{ form_errors(form.numberQuote) }}</div>
                    {% endif %}
                    {% if form_errors(form.documentName ) != null %}
                        <div class="col alerte">{{ form_errors(form.documentName) }}</div>
                    {% endif %}
                    {% if form_errors(form.customer ) != null %}
                        <div class="col alerte">{{ form_errors(form.customer) }}</div>
                    {% endif %}
                    {% if form_errors(form.paymentMethod ) != null %}
                        <div class="col alerte">{{ form_errors(form.paymentMethod) }}</div>
                    {% endif %}
                    <div class="row rowFormQuote1" >
                        <div class="col-lg col-md-6">
                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.numberQuote) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.numberQuote, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg col-md-6">
                            <div class="col control-label" >
                                {# Génération du label. #}
                                {{ form_label(form.documentName) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.documentName) }}
                            </div>
                        </div>
                        <div class="col-lg col-md-6">
                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.customer) }}
                            </div>
                            <div class="col-md-12">
                                {# Génération de l'input. #}
                                {{ form_widget(form.customer, {'attr': {'class': 'customerFormQuote '}}) }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.paymentMethod) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.paymentMethod, {'attr': {'class': 'paymentMethodFormQuote'}}) }}
                            </div>
                        </div>
                    </div>
                    {% if form_errors(form.creationDate ) != null %}
                        <div class="col alerte">{{ form_errors(form.creationDate) }}</div>
                    {% endif %}
                    {% if form_errors(form.billingDate ) != null %}
                        <div class="col alerte">{{ form_errors(form.billingDate) }}</div>
                    {% endif %}
                    {% if form_errors(form.validationDeadline ) != null %}
                        <div class="col alerte">{{ form_errors(form.validationDeadline) }}</div>
                    {% endif %}
                    {% if form_errors(form.percentageAdvencePayment ) != null %}
                        <div class="col alerte">{{ form_errors(form.percentageAdvencePayment) }}</div>
                    {% endif %}
                    <div class="row rowFormQuote2" >
                        <div class="col-lg col-md-4">
                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.creationDate) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.creationDate, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg col-md-4">

                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.billingDate) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.billingDate, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg col-md-4">
                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.validationDeadline) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.validationDeadline, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg col-md-6">
                            <div class="col control-label">
                                {# Génération du label. #}
                                {{ form_label(form.percentageAdvencePayment) }}
                            </div>
                            <div class="col">
                                {# Génération de l'input. #}
                                {{ form_widget(form.percentageAdvencePayment) }}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="products row "  data-prototype="{% filter escape %}{% include '@App/quote/template/formProduct.html.twig' with {'product': (form.products.vars.prototype)|e ('js')} %}{% endfilter %}">
                    <div class="col-lg-12"  >
                        {% if form_errors(form.products) != null %}
                            <div class="row">
                                <div class="col-lg-12 alerte">{{ form_errors(form.products) }}</div>
                            </div>
                        {% endif %}
                        <div class="row" >
                            <div class="col-lg-12 control-label" >
                                <h3>Produit(s) :</h3>
                            </div>
                        </div>

                            {% for product in form.products %}
                                {% include '@App/quote/template/formProduct.html.twig'%}
                            {% else %}
                                {% do form.products.setRendered %}
                            {% endfor %}

                        <div class="row justify-content-between add_product_row"  >
                            <div class="add_product_link col-lg-3  btn-warning" >Ajouter un produit +</div>
                            <div class="col-lg-2 allTotalTtc" ></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col btnValiderQuote">
                        {{ form_widget(form.submit, {'attr': {'class': ' validate  btnValidate col-lg-3 col-md-auto'}} ) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>

    </div>




{% endblock %}
{% block script %}
    <script src="{{ asset('js/invoiceQuote/form2.js') }}"></script>
{% endblock %}