{% extends "base.html.twig" %}


{% block body %}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm">
                <h1>Devis</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-lg-8">
                {{ form_start(form) }}
                <div class="form-group" >
                    <div class="row">
                        {% if form_errors(form.keyword ) != null %}
                            <div class="col alert alert-danger">{{ form_errors(form.keyword) }}</div>
                        {% endif %}
                        <div class="col-8" >
                            {{ form_widget(form.keyword, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-4" >
                            {{ form_widget(form.submit, {'attr': {'class': 'btnSearchQuote btn btn-info hidden '}} ) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="col-lg-4"  >
                <div class="row justify-content-end" style=" margin-right: 10px">
                    <a class="btnNewQuote  " href={{ path("quote.form") }}>
                        <i class="fas fa-plus"></i>
                        <bold>Nouveau devis</bold>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="listQuote text-center col-lg-8 col-md-5 col-sm-8 col-5" >
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">N°devis:</th>
                        <th scope="col">Nom du client:</th>
                        <th scope="col">Nom du dossier:</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  if results is not null %}
                        {% for quote in results%}
                            <tr class="col-lg col-md" >
                                <th scope="row" ><span>{{ quote.number_quote }}</span></th>
                                <td class="name">
                                    <span>{{ quote.name }}</span>
                                </td>
                                <td>
                                    <span>{{ quote.document_name }}</span>
                                </td>
                                <td>
                                    <a id="btnGroupDrop1" class="selectOption "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog cogOption"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <a class=" dropdown-item text-center colorEdit" href="{{ path("quote.form", {id: quote.quoteID}) }}" style="margin:4px 10px 0px 0px">Modifier</a>
                                            {% if quote.invoice_id == null %}
                                                <a class="dropdown-item colorWarning text-center" href="{{ path('invoice.form.withQuote', {idQuote: quote.quoteID}) }}" style="margin:2px 10px 0px 0px">Créer facture</a>
                                            {% endif %}
                                        {% endif %}
                                        <a class=" dropdown-item text-center colorWarning" href="{{ path("quote.pdf", {id: quote.quoteID}) }}" target="_blank" style="margin:4px 10px 0px 0px">PDF</a>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <a class="dropdown-item colorDanger text-center" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ path("quote.delete", {id: quote.quoteID}) }}" style="margin:4px 10px 0px 0px;color: white" >Supprimer</a>
                                        {% endif %}
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {#
        <div class="row justify-content-center">
            <div class="resultQuoteHead col-lg-10 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8" >
                        <div class="row">
                            <div class="col-lg-2 col-md-2" ><span>N°devis:</span></div>
                            <div class="col-lg-5 col-md-5" ><span>Nom du client:</span></div>
                            <div class="col-lg-5 col-md-5" ><span>Nom du dossier:</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {%  if results is not null %}
            {% for quote in results%}
                <div class="rowSearchQuote row justify-content-center " >
                    <div class="col-lg-10 col-md-12">
                        <div class="row justify-content-between" >
                            <a class=" col resultQuote" href="{{ path("quote.pdf", {id: quote.quoteID}) }}" target="_blank"  >
                                <div class="row ">
                                    <div class="col-lg-2 col-md-2" >{{ quote.number_quote }}</div>
                                    <div class="col-lg-5 col-md-5" >{{ quote.name }}</div>
                                    <div class="col-lg-5 col-md-5" >{{ quote.document_name }}</div>
                                </div>
                            </a>
                            {% if is_granted("ROLE_ADMIN") %}
                                    <a id="btnGroupDrop1" class="btnEditer dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Dropdown</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item colorEdit text-center" href="{{ path("quote.form", {id: quote.quoteID}) }}" style="margin:4px 10px 0px 0px" >Modifier</a>
                                        {% if quote.invoice_id == null %}
                                            <a class="dropdown-item colorWarning text-center" href="{{ path('invoice.form.withQuote', {idQuote: quote.quoteID}) }}" style="margin:2px 10px 0px 0px">Créer facture</a>
                                        {% endif %}
                                        <a class="dropdown-item colorDanger text-center" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ path("quote.delete", {id: quote.quoteID}) }}" style="margin:4px 10px 0px 0px;color: white" >Supprimer</a>
                                    </div>

                            {% endif %}
                        </div>
                    </div>


                </div>
            {% endfor %}
        {% endif %}
    </div>
    #}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span style="color: black">Êtes-vous sûr de vouloir supprimer ce devis?</span>
                </div>

                <div class="modal-footer" >
                    <button type="button" class="btn btn-secondary fontArt col-4" data-dismiss="modal">Fermer</button>
                    <a class="btnSupprimer" href="#">Supprimer</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    <script src="{{ asset('js/quote/index.js') }}"></script>
{% endblock %}