{% extends "base.html.twig" %}


{% block body %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm">
                <h1>Devis</h1>
            </div>
        </div>
        {% for message in app.flashes('error') %}
            <div class="alerte">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
        <div class="row" style="margin-bottom: 20px">
            <div class="col-lg-8">
                {{ form_start(form) }}
                <div class="form-group" >
                    <div class="row">
                        {% if form_errors(form.keyword ) != null %}
                            <div class="col alert alert-danger">{{ form_errors(form.keyword) }}</div>
                        {% endif %}
                        <div class="col-8" >
                            {{ form_widget(form.keyword, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-4" >
                            {{ form_widget(form.submit, {'attr': {'class': 'btnSearchQuote validate  btnValidate d-md-none d-block '}} ) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="col-lg-4"  >
                <div class="row justify-content-end" style=" margin-right: 10px">
                    <a class="btnNewQuote  " href={{ path("quote.form") }}>
                        <i class="fas fa-plus"></i>
                        <bold>Nouveau devis</bold>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="listQuote text-center col-lg-8 col-md-5 col-sm-8 col-10"  >
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col"><span>N°devis:</span></th>
                        <th scope="col"><span>Nom du client:</span></th>
                        <th scope="col"><span>Nom du dossier:</span></th>
                        <th scope="col"><span>Date:</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  if results is not null %}
                        {% for quote in results%}
                            <tr class="col-lg col-md" >
                                <th scope="row" ><span class="font-weight-bold">{{ quote.number_quote }}</span></th>
                                <td class="name">
                                    <span>{{ quote.name }}</span>
                                </td>
                                <td>
                                    <span>{{ quote.document_name }}</span>
                                </td>
                                <td>
                                    <span class="d-none d-sm-block">{{ quote.creation_date | date("d/m/y") }}</span>
                                </td>
                                <td>
                                    <a id="btnGroupDrop1" class="selectOption "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog cogOption"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <a class=" dropdown-item text-center colorEdit" href="{{ path("quote.form", {id: quote.quoteID}) }}" style="margin:4px 10px 0px 0px;color: white">Modifier</a>
                                            {% if quote.invoice_id == null %}
                                                <a class="dropdown-item colorWarning text-center" href="{{ path('invoice.form.withQuote', {idQuote: quote.quoteID}) }}" style="margin:2px 10px 0px 0px;color: white">Créer facture</a>
                                            {% endif %}
                                        {% endif %}
                                        <a class=" dropdown-item text-center colorWarning" href="{{ path("quote.pdf", {id: quote.quoteID}) }}" target="_blank" style="margin:4px 10px 0px 0px;color: white">PDF</a>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <a class="dropdown-item colorDanger text-center" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ path("quote.delete", {id: quote.quoteID}) }}" style="margin:4px 10px 0px 0px;color: white" >Supprimer</a>
                                        {% endif %}
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span style="color: black">Êtes-vous sûr de vouloir supprimer ce devis?</span>
                </div>

                <div class="modal-footer" >
                    <button type="button" class="btn btn-secondary fontArt col-4" data-dismiss="modal">Fermer</button>
                    <a class="btnSupprimer" href="#">Supprimer</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    <script src="{{ asset('js/utils/modalDelete.js') }}"></script>
{% endblock %}